*.rvz
*.iso
*.wbfs
*.wav
*.bin
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
output/
dist/
build/
.venv/
.pytest_cache/
.DS_Store
.idea/
.vscode/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.ruff_cache/